<!DOCTYPE html>

<html lang="en" dir="ltr">

	<head>

		<meta charset="UTF-8" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="application-name" content="Stories-Blogger" />
		<meta name="author" content="Michael K Macharia" />
		<meta name="description" content="A NodeJS-based webapp for blogging users' stories." />
		<meta name="keywords" content="Stories, Blogger, Stories-Blogger." />
		<meta name="pragma" content="cache" />
		<meta name="robots" content="nofollow" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximun-scale=1.0, user-scalable=no" />

		<title>Stories-Blogger</title>

		<link type="image/vnd.microsoft.icon" rel="icon" sizes="any" href="/frontend/favicon.ico" />
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
		integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
		<link type="text/css" rel="stylesheet" href="/frontend/index.css" />

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
	</head>

	<body>
		<div class="container login-container">
			<div class="card">
				<div class="card-content">
					{{{body}}}
				</div>
			</div>
		</div>
	</body>

</html>
